/* ABOUT ME */
.main-aboutme {
    /* Leaves gap between body and sidebar */
    margin: 0em 0em 0em 7.5em;
    padding: 0;
    padding: 0;

    /* Other Positioning */
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Paragraph Styling */
.main-aboutme p {
    font-family: 'Poppins', sans-serif;
    width: 45vw;
    font-size: 1.2em;
}

/* Regular Link */
.main-aboutme a:link {
    text-decoration: none;
    color: #985452;
}

/* Visited Link */
.main-aboutme a:visited {
    text-decoration: none;
    color: #985452;
}

/* Link on hover */
.main-aboutme a:hover {
    text-decoration: none;
    color: #EDCC91;
}

/* Active Link */
.main-aboutme a:active {
    text-decoration: none;
    color: #EDCC91;
}